{% load static %}
<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>view resume</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <br>
    <table border='1px' width='80%' height='500px' align='center'>

        <tr>
            <!-- <td align='center'> -->
            <td>
                <center>
                    <h1><u>{{Name}}</u></h1>
                </center>
                <hr>

                <h4 class="card-title"><b>Email &nbsp:</b> {{Email}}</h4>
                <h4 class="card-title"><b>Phno&nbsp&nbsp:</b> {{Phno}}</h4>
                <hr>
                <h4><b><u>Carrer Objective</u></b> :</h4> <br>
                <h6 class="card-title">{{CarrerObjective}}</h6>

                <hr>
                <h4><b><u>Educational Qualification</u> :</b></h4>

                <h5 class="card-title">Degree &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{Education_Degree}}</h5>
                <h5 class="card-title">Branch of study &nbsp: {{Branch}}</h5>
                <h5 class="card-title">Percentage(%) &nbsp&nbsp : {{Percentage}}</h5>
                <hr>
                <h2><u>Skill Set</u> :</h2>
                <hr>
                <h5 class="card-title">Area of Intrest &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : {{Areaofinterest}}
                </h5>
                <h5 class="card-title">Technical Skills &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{Technicalskills}}
                </h5>
                <h5 class="card-title">Experience &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : {{Experience}}
                </h5>
                <h5 class="card-title">Projectname &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : {{Projectname}}
                </h5>
                <h4 class="card-title">project Description :
                    <h6>{{Projectdescription}}</h6>
                </h4>
                <hr>
                <h2><u>Persol Information</u> :</h2>
                <hr>
                <h4 class="card-title">Address :</h4>
                <h6>{{Address}}</h6>
                <hr>
                <h5 class="card-title">Postal &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp : {{Postalcode}}</h5>
                <h5 class="card-title">Present Location &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{CurrentLocation}}</h5>
                <h5 class="card-title">DOB(DD/MM/YYYY) &nbsp&nbsp&nbsp&nbsp&nbsp: {{DOB}}</h5>
                <h5 class="card-title">Gender &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{Gender}}</h5>


    </table>

</body>
<center>
    <a href="{% url 'invoice' %}" class="btn btn-warning btn-sm"> view as PDF</a>
</center>

</html>